/** Beginning of CSS */
body
{
	font-family: 'Lato';
	background: #ededed;
	overflow-x: hidden;
}
nav
{
	padding-top: 20px;
	padding-bottom: 20px;
	background: black;
	color: white;
	border-radius: none !important;
	border: none !important;
}
li.active
{
	background: transparent !important;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus
{
	background: transparent;
	border-bottom: 1px solid white;
}
.navbar-brand
{
	padding-right: 30px !important;
}
section.section1
{
	background: linear-gradient(rgba(20,20,20, .8),rgba(20,20,20, .8)),url('../../../../images/centerback.jpg');
	background-size: 100% 150%;
	height: 500px;
}
#container1
{
	padding-top: 150px;
	color: white;
	font-size: 25px;
}
section>.section1>#subsection1
{
	background: black;
	height: 50px;
}
#tabcontent1
{
	font-size: 15px;
	margin-top: 40px;
}
#tabNav 
{
	margin-top: 10px;
	border: 1px solid black;
	padding-top: 5px;
	padding-bottom: 5px;
	color: black;
	width: 100%;
	margin-right: 0px !important;
}
#tabNav ul li
{
	display: inline-block;
}
input[type=search]
{
	height: 40px;
	margin-top: 20px;
	border-radius: none !important;
	border: 1px solid rgb(169, 169, 169);
	padding-left: 10px;
	width: 100%;
	margin-right: 0px !important;
}
select.dropp
{
	margin-top: 20px;
	height: 40px;
	color: #e2e6e9;
	margin-left: 15px;
}
input[type=submit]
{
	margin-top: 20px;
	height: 40px;
	background: black !important;
	color: white;
	font-size: 18px;
	outline: none !important;
	border: none !important;
	width: 100%;
}
span#section2_Header
{
	font-size: 20px;
	line-height: 1.4;
	padding-top: 10px;
	font-size: 1.7em;
	color:  #084482;
}
span#section2_Header_dd
{

}
#section2__row
{
	padding-top: 30px;
	margin-top: 30px;
}
#tag_
{
	font-size: 17px;
	font-family: 'Roboto';
	padding-top: 10px;
	padding-bottom: 10px;

}
#subtag__
{
	padding-top: 5px;
}
li#shuo_
{
	background: black !important;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus
{
	background: black !important;
	color: white;
	border: 0px !important;
	border-radius: 0px !important;
}
section#section4
{
	background: white !important;
	padding-bottom: 40px;
	padding-top: 40px;
}
span#footer_title
{
	font-size: 15px;
	font-weight: 600;
	padding-bottom: 50px;
}
input[type=email]
{
	height: 40px;
	width: 100%;
	padding-left: 5px;
}
#see
{
	font-size: 13px;
}
#subscr_button
{
	background: white;
	color: black;
	border: 1px solid #ededed;
	outline: none;
	height: 40px;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
}
#section5
{
	padding-top: 20px;
	padding-bottom: 20px;
}
#h_link
{
	padding-right: 5px;
}
.shaa1
{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
._slider
{
	margin-top: 40px;
}
span#title_
{
	font-size: 18px;
	color: black;
	padding-left: 10px;
	font-family: 'Roboto';
}
span#subtitle_
{
	font-size: 14px;
	font-family: 'Roboto';
	padding-left: 10px;
}
#location_
{
	font-size: 12px;
	padding-left: 10px;
}
span#pricing_
{
	padding-left: 10px;
	font-size: 12px;
}
#padding-topp
{
	padding-top: 30px !important;
	margin-top: 30px
}
span#morelink_
{
	font-family: 'Roboto';
	font-size: 14px;
	padding-left: 10px;
	padding-top: 10px;
	color: #42b3f4;
}
input[type=button]
{
	width: 100%;
}
.bubble blockquote {
	margin: 10px 10px 0;
	background: #fff;
	padding: 60px;
	position: relative;
	border: none;
	border-radius: 8px;
	font-size: 1.25em;
	color: #1e528e;
}
.bubble blockquote:before, .bubble blockquote:after {
	content: "\201C";
	position: absolute;
	font-size: 80px;
	padding: 10px;
	line-height: 1;
	color: #1e528e;
}
.bubble blockquote:before {
	top: 0;
	left: 10px;
}
.bubble blockquote:after {
	content: "\201D";
	right: 10px;
	bottom: -.5em;
}
.bubble div {
	width: 0;
	height: 0;
	border-left: 0 solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
	margin: 0 0 0 60px;
	margin-bottom: 10px;
}
.bubble cite {
	padding-left: 20px;
	font-size: 1.5em;
  color:black;
  font-family: 'Satisfy';
}
#section2__row.col-sm-12
{
	display: none;
}
.tada
{
	margin-top: 50px;
}
.tada1
{
	margin-top: 20px;
}