@keyframe pulse
{

}

body
{
	height: auto;
}
.header__main
{
	background: white;
	height: 600px;
}
.project_section
{
	
	height: 500px;
	background: green;
}
.header_main1
{
	background: url("../../incs/images/biggrit.jpg");
	height: 640px;
}
.header_main2
{
	height: 640px;
	background: white;
	padding-bottom: 100px;
	margin-bottom: 100px;
	font-size: .3em;
}
.header_intro
{
	margin:100px auto;
	
}
.header_intro_profile
{
	background: url('../../incs/images/ra.JPG');
	height: 200px;
	width: 200px;
	background-size: 100% 100%;
	background-position: 80% 80%;
	float: center;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	border-radius: 200px;
	margin-left: 50px;
	margin-right: 50px;

}
.header_intro_title
{
	font-family: 'Satisfy';
	font-size: 40px;
	color: white;
	font-weight: 300;
}
.header_intro_title_sub
{
	font-family: 'Lato';
	font-size: 18px;
}
.header_intro_social
{
	margin-top: 20px;
}
.dd
{
	margin-right: 20px !important;
}
.fa-arrow-downs
{
	display: inline-block;
    height: 3rem;
    width: 4px;
    position: relative;
    left: -10px;
    bottom: -3px;
    background: #ECD018;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.social_button
{
	background: transparent;
	border: 1px solid white;
	width: 100%;
	height: 70px;
	box-shadow: 10px 0px 10px 0px;
}
.stay_down
{
	position: absolute;
	bottom: 0;
	font-size: 40px;
	margin-bottom: 20px;
	display: inline-block;
    height: 3rem;
    width: 4px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.header_menu
{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	padding-right: 20px;
	margin-right: 20px;
	margin-top: 10px;	
	color: white;
	font-size:100px;
	cursor: pointer;
}
.fa
{
	color: white;
}
.slide_nav
{
	position: fixed;
	top: 0;
	right:0;
	z-index: 2;
	height: 100%;
	width: 70%;
	max-width: 300px;
	background: url("../../incs/images/biggrit.jpg");
	border-left: 1px solid black;

}
.close_menu
{
	padding-right: 20px;
	padding-top: 10px;
	cursor: pointer;
}
.slide_nav:not(:target)
{
	right: -100%;
	transition: right 1.5s;
}
.slide_nav:target
{
	right: 0;
	transition: right 1s;
}
.project_title
{
	padding:0px 0px;
}
.header_intro_1
{
	font-family: 'Lato';
	margin-left: 30px;
	margin-right: 30px;
}
@media screen and (max-width: 980px)
{
	.header_main2
	{
		height: 100%;
		font-size: 15px;
	}
}
@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}
.titlez
{
	font-family: 'Satisfy';
	font-size: 23px;
	color: green;
	

}
.info_content
{
	font-size: 17px;
	font-family: 'Lato';
	text-align: left;
	padding-left: 15px;

}

.header_info
{
	margin-top: 90px;
}
.stack_view
{
	padding-bottom: 30px;
	background: black;
}


.underforstack
{
	margin-top: 40px;
}
/** Some Media Queries */
@media screen only(max-width: 640px)
{
	button
	{
		display: none;
	}
}