@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bisbcm');
  src:  url('fonts/icomoon.eot?bisbcm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bisbcm') format('truetype'),
    url('fonts/icomoon.woff?bisbcm') format('woff'),
    url('fonts/icomoon.svg?bisbcm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-podcast:before {
  content: "\e91c";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
