/** beginning of custom style */
body
{
	font-family: 'Poppins';
	overflow-x: hidden !important;
}
section#section1
{
	height: 600px;
	/**background: url('../../images/back2.jpg') !important; **/
	
}
nav#nav
{
	background: transparent;
	border:0px !important;
	border-radius: 0px !important;
}
div#mainText
{
	padding-top: 150px;
	font-size: 25px;
	font-family: 'Poppins';
}
button.but_size
{
	font-size: 17px;
	font-family: 'Roboto';
	background: transparent;
	border: 1px solid white;
	width: 150px;
	height: 40px;
	color: white;
}
button.but_size:hover
{
	background:orange !important;
	color: white;
	transition: background .5s ease-out;
	border: 1px solid orange;
}
button.size_change:hover
{
	background:transparent !important;
	border:1px solid white !important;
	transition: background .5s ease-out;
}
section.section3
{
	background: rgb(37, 37, 37);
}
.small-text
{
	font-size:15px;
	color: ;
	font-family: 'Poppins'
}
span.section_header
{
	font-family: 'Poppins';
	font-size:20px;
	
}
span.section_sub
{
	font-size: 12px;
	font-family: 'Poppins';
	color: rgb(166, 166, 166);
}
div.shrink_container
{
	width: 65% !important;
	margin-bottom: 50px;
}
div.dip-top
{
	margin-top:20px;
	margin-bottom: 10px;
}
span.circle_background
{
	background-color: orange !important;
	font-size:30px;
	color: white;
	float: center;
	padding-left: 5px;
	height: 50px;
	width: 1000px !important;
	font-family: 'Lato';
}
span.circle-text
{
	font-family: 'Lato';
	font-size: 17px;
	padding-top:10px;

}
.bubble blockquote {
	margin: 10px 10px 0;
	background:orange;
	padding: 60px;
	position: relative;
	border: none;
	border-radius: 8px;
	font-size: 1.25em;
	color: white;
}
.bubble blockquote:before, .bubble blockquote:after {
	content: "\201C";
	position: absolute;
	font-size: 80px;
	padding: 10px;
	line-height: 1;
	color: #1e528e;
}
.bubble blockquote:before {
	top: 0;
	left: 10px;
}
.bubble blockquote:after {
	content: "\201D";
	right: 10px;
	bottom: -.5em;
}
.bubble div {
	width: 0;
	height: 0;
	border-left: 0 solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid orange;
	margin: 0 0 0 60px;
	margin-bottom: 10px;
}
.bubble cite {
	padding-left: 20px;
	font-size: 1.5em;
  color:black;
  font-family: 'Satisfy';
}
a.header_main_link
{
	color: white !important;
}
button.icon_sec
{
	background:orange !important;
	
}
span.sub_header_list
{
	font-size: 20px;
}
@media (screen max-width: 980px) {
  .shrink_container {
    display: none;
  }
}
@media screen and (max-width: 732px) {
div.shrink_container {
    width: 100% !important;
    margin-left: 0px !important;
  }
 
 span#mainText
 {
 	display: flex;
 	justify-content: center;
 	align-content: center;
 	align-items: center;
 }
 button.icon_sec
 {
 	margin-right: 20px;
 }
 .small_
 {
 	float: center !important;
 }
 div.dip-top
 {
 	width: 100%;
 	margin-left: 0px !important;
 	padding-left: 0px !important;
 }

 div#jumfire_login
 {
 	width: 100% !important;
 }
 .form__
 {
 	width: 100% !important;
 }
 .btn1
 {
 	width: 100% !important;
 }
} 