/** Main Style.css **/
ul{
	text-decoration: none;
	list-style-type: none;
	padding-top:10px;
	padding-bottom:10px;

	
	color: white;
}
ul li,ul a li{
	display: inline-block;
	padding-right: 20px;
	margin-left:10px;
	color: white;
	padding-bottom: 10px;
}
ul a:hover{
	border-top: 3px solid yellow;
	  border-bottom: 3px solid yellow;
	  padding: 6px 0;
	  transition: 0.3s ease;
}
#joinnow{
	background: transparent;
	border: 1px solid yellow;
	color: white;

}
#joinnow:hover{
	background: yellow;
}